<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="a">

    <select id="selectAll" resultType="Bang">
        SELECT * FROM board_tbl
    </select>



    <!--writer,title,content,board_pw, creat_at(자동생성?) -->
    <!--<insert id="insert"  parameterType="Bang">
        INSERT INTO board_tbl ( writer , title, content, board_pw )
        VALUES( #{writer} ,  #{title} , #{content}, #{board_pw})

    </insert>
    -->
    <!--
    <resultMap id="bang2Map" type="Bang2">
        <result property="writer" column="writer"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="board_pw" column="board_pw"/>
    </resultMap>


    resultMap : DB에서 받아온 결과를 담는
    <select id="selectAll2" resultMap="bang2Map">
        select   *  from  board_tbl
    </select>
    -->


    <!--
    <select id="selectAll3" resultType="Bang2">
        select   *  from  board_tbl
    </select>
    -->
    <!--parameterType : SQL에 넣을 입력값의 설계도-->
    <insert id="insert"  parameterType="Bang" >
    insert into board_tbl(writer, title, content, board_pw) values(#{writer}, #{title},#{content},#{board_pw})
    </insert>
</mapper>