<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        margin: 0 auto;
    }
    .bangWrap{
        width: 700px;
        height: 300px;
        border: 1px solid black;
    }

</style>
<body>

<h2>방명록 등록을 해봐요</h2>
<div class="bangWrap">
    <form th:action="@{/formProc}" method="post" >
        <p>작성자 : <input type="text" name="writer"></p>
        <p>제목 : <input type="text" name="title"></p>
        <p>내용 : <input type="text" name="content"></p>
        <p>비밀번호 : <input type="password" name="board_pw"></p>
        <button>등록</button>
    </form>
</div>
</body>
</html>